<div class="container">
<div class="panel panel-info">
    <div class="panel-heading">
 <footer class="footer">
     <small>
         copyright &copy; <a href="#">Alpha Blog</a> By <a href="#">Edomiax</a>
     </small>
     <nav>
         <ul>
             <li><%= link_to 'About us', pages_about_path %></li>
         </ul>
     </nav>
 </footer>

</div>
</div>





</div>